@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* {#ec4755 #a12c34 #99a0a3} */
:root {
  --color-primary: #ff0016;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

.homepageGradient{
  background: linear-gradient(85.28deg, #303C4A 4.09%, #000000 98%);
}

.workSansFont{
  font-family: 'Work Sans', sans-serif;
}
.gradientText1{
  background: linear-gradient(180deg, #000000, #FFFFFF 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
} */



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


/* loading spinner */
.lds-spinner {
  color: white;
  margin-top: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}
.lds-spinner div {
  transform-origin: 50% 50%;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 5.75%;
  left: 39.25%;
  width: 4px;
  margin-top: 5px;
  height: 7px;

  width: 0.7vh;
  margin-top: 0.8vh;
  height: 1.3vh;
  border-radius: 30%;
  background: #cef;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(305deg);
  animation-delay: -0.1s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(36, 36, 36, 0.3);
  border-radius: 2px;
  margin: 10px 0px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(96, 96, 96, 0.5);
}